* {
    font-family: 'Poppins';
    background-color: #1a1a1a;
    color: #f8f9fa;
    /* text-align: center; */
    list-style-position: inside;
}

h1 {
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
}

h1,
h2 {
    text-decoration: underline;
}
